doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.
            .mytable {
                border-collapse: collapse;
            }
            .mytable th {
                border: 1px solid black;
            }
            .mytable td {
                border: 1px solid black;
            }
    body
        block content
